@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

header.header {
    background-color: #002e5f;
    color: #ffffff; /* White text color */
    padding: 10px 20px; /* Padding around the header */
    display: flex; /* Flex layout for alignment */
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space between logo and navbar */
    position: fixed; /* Fix header at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Bring header above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
   
}

.header .logo img{
    max-width: 100px;
    height:50px;
    top: 0;
    left: 0;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li{
    margin: 0 1.5rem;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #f0b129;
}

.header .navbar ul li a:hover{
    color: #f0b129;
    text-decoration: none;
}

.header .logo i{
    padding: 0.5rem;
}

.header .fa-bars{
    color: #002e5f;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}


.career-heading{
    text-align: center;
    margin-top: 80px;
}

.heading{
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #002e5f;
    position: relative;
    letter-spacing: .2rem;
    margin: -2rem auto 2rem auto;
}

.career-heading p{
    font-size: 2rem;
    color: #333;
}

.heading::before, .heading::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}

.heading::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}


  .brands-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    margin-top: 150px;
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .brands-container p{
    font-size: 18px;
    color: #333;
    margin-bottom: 50px;
  }

  .brands-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .brand-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .brand-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }

  .brand-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
  }

  .brand-card:hover .overlay {
    opacity: 1;
  }

  .brand-name {
    font-size:32px;
    color: #ffa928;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }


/* Footer styling */
  
.footer {
    background-color: #002e5f;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer h4 {
    font-size: 30px;
    color: #f8f8f8;
    margin-bottom: 12px;
  }
  
  .footer p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .footer a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.2;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ffa705;
    text-decoration: none;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    padding: 8px 0;
    
  }
  
  .footer-links ul li i {
    margin-right: 8px;
  }
  .footer-contact {
    font-size: 1.1rem;
  }
  .footer-contact ul {
    list-style-type: none;
    padding-left: 0;
}

  .footer-contact li {
    margin-bottom: 10px;
    font-size: 14px;
}
  .social-links {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .social-links a {
    font-size: 24px;
    margin-right: 15px;
    color: #fff;
}

  .social-links a:hover {
    color: #ffcc00;
}
  
  .footer-bottom {
    background: #111;
    padding: 10px 0;
    text-align: center;
    font-size: 1rem;
    margin-bottom: -60px;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fffcfc;
  }


.back-to-top {
    position: fixed;
    display: none;
    background-color: #00bfff;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    right: 15px;
    bottom: 15px;
    transition: background 0.3s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top i:hover {
    color: black;
}


@media (max-width: 375px) {
    .header .logo img{
        width: 80%;
        height: 3rem;
        top: 0;
        left: 0;
    }

    .brands-container {
        width: 90%;
        max-width: 340px;
        margin: 40px auto;
        text-align: center;
        margin-top: 70px;
      }
      .brands-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 15px;
      }
      .brand-card {
        position: relative;
        overflow: hidden;
        max-width: 325px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }
    
    .footer h4 {
        font-size: 30px;
        color: #f8f8f8;
        margin-bottom: 12px;
        text-align: center;
    }
    .footer p {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
    }
    .footer-links ul li {
        padding: 8px 0;
        text-align: center;
    }
    .footer-contact li {
        margin-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }
    .social-links {
        margin-top: 6px;
        margin-bottom: 12px;
        text-align: center;
      }
}

@media (max-width: 768px) {
    .header .logo img{
        width: 80%;
        height: 3rem;
        top: 0;
        left: 0;
    }
    .brands-container {
        width: 90%;
        max-width: 750px;
        margin: 40px auto;
        text-align: center;
        margin-top: 110px;
      }
      .brands-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin-top: 20px;
        margin-left: 15px;
      }
      .brand-card {
        position: relative;
        overflow: hidden;
        max-width: 320px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }
}

@media (max-width: 980px) {
    .header .logo img{
        width: 80%;
        height: 3rem;
        top: 0;
        left: 0;
    }

    .brands-container {
        width: 90%;
        max-width: 950px;
        margin: 40px auto;
        text-align: center;
        margin-top: 110px;
      }
      .brands-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin-top: 20px;
        margin-left: 15px;
      }
      .brand-card {
        position: relative;
        overflow: hidden;
        max-width: 380px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }
}

@media (max-width: 1000px){
    html{
        font-size: 50%;
    }

    .header .logo img{
        width: 20%;
        height: 3rem;
        top: 0;
        left: 0;
        background-size: cover;
    }

    .header .fa-bars{
        display: block;
        color: 	white;
    }

    .header .fa-bars:hover{
        color: #00bfff;
    }

    .header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: white;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
    }

    .header .navbar ul li a{
        color: grey;
        font-size: 2.4rem;
    }

    .header .fa-times{
        transform: rotate(90deg);
    }

    .header .nav-toggle{
        top: 5.8rem;
    }

    .home{
        min-height: 60vh;
    }

    .home h2{
        color: #fff;
        font-size: 4rem;
    }

    .back-to-top {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
}

@media (max-width: 1500px){
    
    .career-form-phone::placeholder
    {
        color: #aaa;
        font-size: 1.5rem;
    }
}
