@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

.heading, .clients .section-header h2, .section-head h1, .testimonials .section-header h2, .section-head-1 h4{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #002e5f;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after, .clients .section-header h2::before, .clients .section-header h2::after, .section-head h1::before, .section-head h1::after, .testimonials .section-header h2::before, .testimonials .section-header h2::after, .section-head-1 h4::before, .section-head-1 h4::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}

.faq .heading::before, .faq .heading::after{
    border-top: .4rem solid #00bfff;
    border-left: .4rem solid #00bfff;
}

.heading::before, .clients .section-header h2::before, .section-head h1::before, .testimonials .section-header h2::before, .section-head-1 h4::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after, .clients .section-header h2::after, .section-head h1::after, .testimonials .section-header h2::after, .section-head-1 h4::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}


.row .btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}

.header .logo img{
    width: 130%;
    height: 3rem;
    top: 0;
    left: 0;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li{
    margin: 0 1.5rem;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover{
    color: #f0b129;
    text-decoration: none;
}

.header .logo i{
    padding: 0.5rem;
}

.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}


.home{
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/f4.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home h1{
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.home h2{
    color: #fff;
    font-size: 28px;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    width: 100%;
    background: url(../images/wave.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
    
}

.home .wave2{
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

/* about us section*/
.about{
    min-height: 55vh;
    width: 100vw;
    top: -3rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 10rem;
    margin-top: 30px;
}
.about .heading {
    font-size: 36px;
    color: #303030;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  .about .heading::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto 0;
    animation: slideIn 1s ease forwards;
  }
.about .row{
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}
.content {
    background: rgba(253, 253, 253, 0.1);
    padding: 30px;
    border-radius: 10px;
    max-width: 1200px;
    margin-top: -20px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }

  .content h3 {
    font-size:18px;
    font-weight: bold;
    color: #1f1f1f;
  }
  
  .content p {
    font-size:16px;
    line-height: 1.6;
    color: #2b2b2b;
  }
  
  .content b {
    color: #2b2b2b;
    font-weight: 700;
  }

  /* Cards showcase services we provide options*/
  .brands-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    margin-top: 80px;
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }

  .brands-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .brand-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
  }
  
  .brand-card a {
    text-decoration: none;
    color: inherit;
    align-content: center;
  }
  
  .brand-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .brand-name-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .brand-name {
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #ffd414;
  }



/* Background cards layout*/
.video-container {
    position: relative;
    overflow: hidden;
  }
  
  #video-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .overlay-content {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
  }
 
  .main-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -20px;
  }
  .overlay-content h4{
    font-size: 22px;
    color: #fc2626;
    margin-bottom: 10px;
    font-weight: bold;
}
 
.stats-row {
    display: flex;
    gap: 100px; /* Space between items */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .stat-item {
    text-align: center;
  }
  
  .stat-number {
    color: #007bff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
  
  .stat-label {
    color: #ff1852;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0 0;
  }
  
  .marquee-container {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
  }
  
  .marquee {
    display: flex;
    animation: marquee 10s linear infinite;
  }
  
  .marquee img {
    width: 100px;
    margin-right: 20px;
    object-fit: contain;
  }
  
  /* Marquee Animation */
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

/* Map Section */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #ff9900; 
    margin-bottom: 30px;
    margin-top: 20px;

}

.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;   
}

/* Map Image */
.map {
    position: relative;
    width: 700px;
    height: 550px;
    background-size: contain;
}


/* Location Lists */
.locations {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.location-group {
  flex: 1 1 calc(45% - 20px); /* Two columns with spacing */
  background-color: #ffffff;
  padding: 0px;
  border-radius: 10px;
}

.location-group h3 {
  font-size: 24px;
  color: #ffa51e;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

.location-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-group ul li {
  font-size: 16px;
  color: #222222;
  margin-bottom: 5px;
  padding: 5px;
}



/* Clients cards section */
.brands-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    margin-top: 100px;
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
  }
  .brands-container p{
    font-size: 18px;
    color: #333;
    margin-bottom: 50px;
  }

  .brands-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .brand-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .brand-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  }

  .brand-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
  }

  .brand-card:hover .overlay {
    opacity: 1;
  }

  .brand-name {
    font-size:32px;
    color: #ffa928;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }

  



.faq{
    min-height: 70vh;
    width: 100vw;
    text-align: center;
    padding: 0 2rem;
    background: url(../images/faq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.faq .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.faq .row .accordion-container{
    width: 50%;
    text-align: left;
}

.faq .row .accordion{
    margin-left: 1rem;
    margin-right: 2rem;
}

.faq .row .accordion-container .accordion .accordion-header{
    background-color: #00bfff;
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 2rem;
}

.faq .row .accordion-container .accordion .accordion-header span{
    display: inline-block;
    text-align: center;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #333;
    color: #fff;
    clip-path: polygon(0% 0%,75% 0%,100% 50%,75% 100%,0% 100%); 
}

.faq .row .accordion-container .accordion .accordion-header h3{
    display: inline;
    color: #333;
    font-weight: 400;
    padding-left: .5rem;
    font-size: 1.5rem;
}

.faq .row .accordion-container .accordion .accordion-body{
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
    background-color: #fff;
    font-size: 1.3rem;
    display: none;
    margin-left: 1rem;
    margin-right: 2rem;
}


.footer {
    position: relative;
    padding: 0 0 30px 0;
    background: #002e5f;
    font-family: Arial, sans-serif;
}

.footer h4 {
    font-size: 30px;
    color: #f8f8f8;
    margin-bottom: 12px;
  }
  
  .footer p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .footer a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.2;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ffa705;
    text-decoration: none;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    padding: 8px 0;
    
  }
  
  .footer-links ul li i {
    margin-right: 8px;
  }

  .footer-contact {
    font-size: 1.1rem;
    color: #f8f8f8;
  }
  .footer-contact ul {
    list-style-type: none;
    padding-left: 30px;
}

  .footer-contact li {
    margin-bottom: 10px;
    font-size: 16px;
  
}
.social-links {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .social-links a {
    font-size: 24px;
    margin-right: 15px;
    color: #fff;
}

  .social-links a:hover {
    color: #12a0ff;
}
  .footer-bottom {
    background: #111;
    padding: 10px 0; 
    text-align: center;
    font-size: 1rem;
    margin-bottom: -40px;
    margin-top: -10px;
   
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fffcfc;
  }



  .back-to-top {
    position: fixed;
    display: none;
    background-color: #00bfff;
    color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1;
    font-size: 44px;
    right: 15px;
    bottom: 15px;
    transition: background 0.3s;
    z-index: 9;
}
.back-to-top i {
    color: #ffffff;
}
.back-to-top i:hover {
    color: black;
}


@media (max-width: 360px) {
	.footer .credit {
        text-align: right;
    }

}

@media (max-width: 575px) {
    .footer .credit {
        text-align: right;
    }
}



@media (max-width: 700px) {
	.footer .credit {
        text-align: right;
    }


}


@media (max-width: 980px) {
	.footer .credit {
        text-align: right;
    }


}
        
 @media (max-width: 768px) {

  .map-section {
    flex-direction: column;
  }

  .locations {
    flex-direction: column;
  }

  .location-group {
    flex: 1 1 100%;
  }

}

           
        
@media (max-width: 1200px){
    .faq{
        min-height: 70vh;
    }
}        

@media (max-width: 1000px){
    html{
        font-size: 50%;
    }

    .header .logo img{
        width: 20%;
        height: 3rem;
        top: 0;
        left: 0;
        background-size: cover;
    }

    .header .fa-bars{
        display: block;
        color: 	white;
        margin-right: 1rem;
    }

    .header .fa-bars:hover{
        color: #00bfff;
    }

    .header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: white;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
    }

    .header .navbar ul li a{
        color: grey;
        font-size: 2.4rem;
    }

    .header .fa-times{
        transform: rotate(90deg);
    }

    .header .nav-toggle{
        top: 5.8rem;
    }

    .home h1{
        color: #fff;
        font-size: 4rem;
    }
    
    .home h2{
        color: #fff;
        font-size: 2rem;
    }

    .about{
        min-height: 38vh;
        width: 100vw;
        margin-top: -3rem;
        margin-bottom: -2rem;
        top: -2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        line-height: 6rem;
    }
    
    .about .row{
        line-height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 4rem;
    }
    
    .about .row .content{
        text-align: center;
    }
    
    .about .row .content h3{
        font-size: 2rem;
        color: var(--color);
    }
    
    .about .row .content p{
        font-size: 1.3rem;
        color: #333;
        padding: 1rem 0;
    } 

    .team{
        min-height: auto;
    }

    .team .row{
        flex-direction: column;
    }

        .back-to-top {
            width: 30px;
            height: 30px;
            font-size: 30px;
        }

        .faq{
            padding: 0;
            min-height: 60vh;
        }
    
        .faq .row{
            padding: 0 1.5rem;
            flex-flow: column;
        }
    
        .faq .row .accordion-container{
            width: 100%;
        }
}